[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Open source remake and Fan Expansion of Dungeon Keeper.
[access "refs/*"]
	owner = group user/Evan (Linvail)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Evan (Linvail)
	label-Verified = -1..+1 group user/Evan (Linvail)
	push = group user/Evan (Linvail)
	read = group user/Evan (Linvail)
	rebase = group user/Evan (Linvail)
	removeReviewer = group user/Evan (Linvail)
	submit = group user/Evan (Linvail)
[access "refs/heads/*"]
	create = group user/Evan (Linvail)
	push = +force group user/Evan (Linvail)
	pushMerge = group user/Evan (Linvail)
	read = group user/Evan (Linvail)
[access "refs/tags/*"]
	push = group user/Evan (Linvail)
	push = +force group user/Evan (Linvail)
